/*
@font-face {
  font-family: 'Sitka';
  src: url('../fonts/SitkaSmall.ttf');
}

@font-face {
  font-family: 'Magnolia';
  src: url('../fonts/Magnolia.ttf');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/HelveticaNeueCyrRoman.otf');
}
*/
